<launch>
    <!--
        nav_mode:
            odom    - No map / not mapping
            mapping - Building a map
            map     - Has a map
    -->
    <arg name="nav_mode" default="odom" />
    <arg name="map_file" default="$(optenv MAP_FILE '')" />

    <arg name="using_map" value="$(eval arg('nav_mode') == 'map')" />
    <arg name="using_map_server" value="$(eval arg('nav_mode') != 'odom')" />

    <include file="$(find create_navigation)/launch/base_navigation.launch">
        <arg name="using_map" value="$(arg using_map)" />
    </include>

    <!-- Mapping -->
    <group if="$(arg using_map_server)">
        <arg name="static_map" value="$(eval map_file if nav_mode == 'map' else '')" />
        <node pkg="octomap_server" type="octomap_server_node" name="octomap" args="$(arg static_map)">
            <param name="frame_id" value="map" />
            <param name="base_frame_id" value="base_footprint" />
            <!-- Set to false when building maps -->
            <param name="latch" value="$(eval arg('nav_mode') != 'mapping')" />

            <remap from="cloud_in" to="/bumper/pointcloud" />
            <remap from="projected_map" to="map" />
        </node>
        <!-- Static transform for odom to map frame -->
        <node pkg="tf" type="static_transform_publisher" name="tf_odom_map" args="0 0 0 0 0 0 map odom 100" />
    </group>
</launch>
