<launch>
    <!-- Spawn pointcloud generator nodes -->
    <include file="$(find create_navigation)/launch/pointcloud.launch" />

    <!-- Move base -->
    <node pkg="move_base" type="move_base" name="move_base">
        <rosparam file="$(find create_navigation)/config/costmap_common.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find create_navigation)/config/costmap_common.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find create_navigation)/config/global_costmap.yaml" command="load" />
        <rosparam file="$(find create_navigation)/config/local_costmap.yaml" command="load" />
        <rosparam file="$(find create_navigation)/config/planner.yaml" command="load" />
    </node>
</launch>
